* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input[type="text"] {
  padding: 10px;
  width: 250px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.product {
  border: 1px solid #ddd;
  padding: 20px;
  width: 600px;
  margin-top: 20px;
  img {
    width: 100%;
  }
}
